:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --white: #fff;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
}

.section{
  padding-left: 156px;
  padding-right: 156px;
}
.link {
  text-decoration: none;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.span-studio {
  color: #f4f4fd;
}

.span-studio-header {
  color: var(--navyblue);
}

.studio {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.list {
  list-style: none;
  display: flex;
  padding: 0;
}

.img-list-index{
display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.img-list-index > img{
  border: 1px solid var(--cornflower, #E7E9FC);
    background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}
.navigation {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.contacts:hover,
.contacts:focus,
.studio:hover,
.studio:focus {
  color: var(--ocean);
}

.address {
  font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.32px;
}

.contacts {
  color: var(--slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-list{
  display: flex;
    gap: 40px;
}

.sec-h-three {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(---navyblue, #2e2f42);
}
.sec-p {
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
}

.h-section-thee {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(---navyblue, #2e2f42);
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.section-four {
  background-color: #f4f4fd;
}
.footerclass {
  background-color: var(--navyblue);
}
.block-one{
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.block-one > li{
    display: flex;
      width: 360px;
      height: 420px;
      padding-bottom: 0px;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      flex-shrink: 0;
      border: 1px solid var(--cornflower, #E7E9FC);
        background: var(--white, #FFF);
}
.sec-p-portf, .sec-h-three-portf{
  padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.button-sec-index{
  background: var(--navyblue, #2E2F42);
    height: 600px;
    flex-shrink: 0;
    padding-top: 188px;
}
.h1-portfolio,
.h2-index {
  visibility: hidden;
}
.footer-p {
  font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
  width: 264px;
}

.section-buttons {
  background-color: var(---navyblue, #2e2f42);
}

.buttons{
  display: flex;
    justify-content: center;
      align-items: center;
    gap: 24px;
    margin-bottom: 72px;
    margin-top: 96px;
}

.h-section-one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0px 316px 48px;
}
.first-button {
  background-color: var(--cloud);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--iris);
  display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
      border: 1px solid var(--cornflower, #E7E9FC);
}

.four-sec-list{
gap: 24px;
}
.sec-four-li{
  background-color: #FFFFFF;
  display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.button-index{
background-color: #4D5AE5;
color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: flex;
    padding: 16px 32px;
    gap: 10px;
    justify-content: center;
      align-items: center;
border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-index:hover,
.button-index:focus {
  background-color: #404BBF;

}

.first-button:hover,
.first-button:focus {
  color: #FFFFFF;
  background-color: #404BBF;

}

footer{
  padding-left: 156px;
    padding-right: 156px;
    padding-top: 101.5px;
      height: 312px;
      flex-shrink: 0;
}